{% extends 'main.html' %}
{% block article %}
<div class="large-5 large-offset-2 columns"
<h4>{{ article.article_date }}</h4>
<h2>{{ article.article_title}}</h2>
<p>{{ article.article_text}}</p>
</div>
<hr>
<div class="large-5 large-offset-3 columns" 
<p>Коментарі:</p>
{% for comment in comments %}
	<p>{{ comment.comments_text }}</p>
{% endfor %}
	{% if username %}
	<form action="/articles/addcomment/{{article.id}}/" method="post">
	{% csrf_token %}
	{{ form }}
	<input type="submit" class="button success" value="Додати коментар">
	</form>
	{% endif %}

</div>
{% endblock %}

